/********** MEMORY MATCH V1.0 ***********/

body {
    background-image: url(images/body_background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}
.header-container {
    position: relative;
    width: 100%;
    height: 12em;
    background-color: white;
    background-image: url(images/teen.titan.logo.png);
    background-repeat: no-repeat;
    background-size: 21%;
}
.raven, .header-memory-title, .header-match-title {
    position: absolute;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: 100%;
}
.raven {
    top: 0.6vw;
    width: 8vw;
    right: 3vw;
    background-image: url(images/header_raven.png);
}
/* .header-memory-title {
    top: 0.7vw;
    width: 25vw;
    left: 29vw;
    background-image: url(images/memory.png);
}
.header-match-title {
    top: 0.3vw;
    width: 21vw;
    right: 22vw;
    background-image: url(images/match.png);
} */

.game-title, .mute, .about {
    position: absolute;
    font-family: 'Titillium Web', Arial, sans-serif;
    text-transform: uppercase;
    /* color: #3cccfb; */
    color: #3cccfb;
}
.game-title {
    left: 23vw;
    top: 0.1vw;
    font-size: 6.4vw;
    text-align: center;
    letter-spacing: 4px;
    width: 60%;
    font-weight: 900;
    text-shadow: 8px 7px #dc421d;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fcf74c;
}
.game-title span {
    /* color: #fcf74c; */
    color: #3cccfb;
}
.mute {
    right: 11vw;
    top: 3vw;
    font-size: 2.5vw;
}
.mute a span {
    -webkit-animation-duration: 0.3s;
    
}

.volume-off {
    color: #624bc9;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

}
.about {
    right: 7vw;
    top: 4vh;
    font-size: 1vw;
}
.game-logo a {
    text-decoration: none;
    color: black;
}
.stats-container {
    float: left;
    position: relative;
    background-color: rgba(255, 255, 255, 0.80);
    border: 3px solid black;
    width: 15vw;
    height: 70vh;
    margin: 3vw;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: black;
}
.name {
    width: 100%;
    font-size: 4vmin;
    text-align: center;
    padding: 20px 0 10px 0;
}
.value {
    width: 100%;
    text-align: center;
    font-size: 3vmin;
}
.suggest {
    display: none;
    color: #ee3e2b;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    -webkit-animation-duration: 0.4s;
}
.reset {
    position: absolute;
    background-color: #83cd3a;
    border: 2px solid black;
    bottom: 10%;
    width: 79%;
    height: 8%;
    left: 10%;
    padding: 1vw 1vw;
    font-size: 2vmin;
}
.game-container {
    float: left;
    position: relative;
    margin: 1vw 3vw;
    width: 60vw;
    height: 79vh;
}
.card {
    position: relative;
    display: inline-block;
    background-color: black;
    height: 13vw;
    width: 9vw;
    margin: 3px;
    -webkit-animation-duration: 1.5s;
}
.card.animated.pulse {
    -webkit-animation-duration: 0.2s;
}
.back img, .front img {
    position: absolute;
    height: 12vw;
    width: 8vw;
    left: 0.5vw;
    right: 0.5vw;
    top: 0.5vw;
    bottom: 0.5vw;
}

.win-modal-bg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 60vw;
    background-image: url(images/win_background.jpg);
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    
}
.win-modal { 
    background-color: rgba(250, 250, 250, 0.82);
    text-align: center;
    margin: 17% auto;
    padding: 20px;
    border: 5px solid black;
    width: 55%;
    height: 17vw;
}
.close-win-modal {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #e23a1f;
    font-size: 28px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.close-win-modal:hover, .close-win-modal:focus {
    color: #232b94;
    text-decoration: none;
    cursor: pointer;
}
.win-content {
    width: 100%;
    margin: 2.4vw 0;
    font-size: 7vmin;
    font-weight: bolder;
    color: #fff14a;
    /* text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

/************** Media Query *************/

@media screen and (max-width: 1680px) {
    .header-container {
        height: 8vw;
        background-size: 21%;
    }
    .settings {
        right: 6vw;
        top: 6vw;
        font-size: 1vw;
    }
    .about {
        right: 6vw;
        top: 3vw;
        font-size: 1vw;
    }
    .stats-container {
        width: 15vw;
        height: 45vw;
    }
    .reset {
        padding: 0.5vw 0.5vw;
    }
    .game-container {
        margin: 2vw 3vw;
        width: 66vw;
        height: 45vw;
    }
    .card {
        height: 14vw;
        width: 10vw;
        margin: 1px;
    }
    .back img, .front img {
        height: 13vw;
        width: 9vw;
        left: 0.7vh;
        right: 0.5vh;
        top: 0.5vh;
        bottom: 0.5vh;
    }
}

@media screen and (max-width: 1280px) {
    .header-container {
        height: 8vw;
        background-size: 22%;
    }
    .settings {
        top: 5vw;
        font-size: 1vw;
    }
    .about {
        top: 2vw;
        font-size: 1vw;
    }
    .stats-container {
        width: 14vw;
        height: 37vw;
        left: 18px;
        font-wight: 400;
    }
    .stats-container div {
        font-size: 2.4vmin;
    }
    .reset {
        font-size: 2vmin;
    }
    .game-container {
        margin: 1vw 3vw;
        width: 64vw;
        height: 40vw;
    }
    .card {
        height: 14vw;
        width: 10vw;
    }
    .back img, .front img {
        top: 0.5vw;
        left: 0.5vw;
    }

}

@media screen and (max-width: 1024px) {
    .header-container {
        height: 9vw;
        background-size: 22%;
    }
    .raven {
        top: 1.3vw;
    }
    .settings {
        right: 5vw;
        top: 4.5vw;
        font-size: 1.2vw;
    }
    .about {
        right: 5vw;
        top: 2.5vw;
        font-size: 1.2vw;
    }
    .stats-container {
        width: 12vw;
    }
    .stats-container div {
        font-size: 2vmin;
    }
    .reset {
        font-size: 1.6vmin;
    }
    .game-container {
        margin: 1vw 3vw;
        width: 66vw;
        height: 45vw;
    }
    .card {
        height: 14vw;
        width: 10vw;
        margin: 1px;
    }
    .back img, .front img {
        left: 0.45vw;
        top: 0.45vw;
    }
    .win-content {
        font-size: 6vmin;
    }    
}

@media screen and (max-width: 992px) {
    body {
        font-size: 16px;
        line-height: 1;
    }
    .header-container {
        height: 9vw;
        background-size: 22%;
    }
    .raven {
        top: 1.7vw;
    }
    .settings {
        top: 6vw;
        font-size: 1vw;
    }
    .about {
        top: 3.5vw;
        font-size: 1vw;
    }
    .stats-container div {
        font-size: 1.75vmin;
    }
    .game-title {
        top: 1vw;
        letter-spacing: 4px;
        text-shadow: 6px 5px #dc421d;
        -webkit-text-stroke-width: 2px;
    }
    .reset {
        font-size: 1.4vmin;
        bottom: 2vw;
        width: 83%;
        left: 8%;
    }
    .card {
        margin: 1.5px;
    }
    .win-content {
        font-size: 5vmin;
    }    
}
/***********************************/
/*************  iPads  *************/
/***********************************/

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    body {
        background-size: cover;
    }
    .header-container {
        height: 10em;
        background-size: 25%;
        background-position: left;
    }
    .game-title {
        top: 3.8vh;
    }
    .settings {
        top: 8vh;
        font-size: 2vw;
    }
    .about {
        top: 4vh;
        font-size: 2vw;
    }
    .stats-container {
        width: 94%;
        height: 23vw;
    }
    .stats-container div {
        display: inline-block;
        margin: 0 12px;
    }
    .value {
        width: 100%;
        text-align: center;
        font-size: 3vmin;
    }
    .reset {
        position: relative;
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        padding: 1vh 1vw;
        font-size: 2vmin;
    }
    .game-container {
        float: left;
        position: relative;
        margin: 1vw 3vw;
        padding-left: 5px;
        width: 94vw;
        height: 79vh;
    }
    .card {
        height: 19vw;
        width: 14vw;
        margin: 1px;
    }
    .back img, .front img {
        height: 17vw;
        width: 12vw;
        left: 1vw;
        right: 1vw;
        top: 1vw;
        bottom: 1vw;
    }
    .win-content {

    }

}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    body {
        background-size: 108% 105%;
        background-position: center;
    }
    .header-container {
        height: 10vw;
        background-size: 23%;
    }
    .settings {
        right: 5vw;
        top: 4.5vw;
        font-size: 1.2vw;
    }
    .about {
        right: 5vw;
        top: 2.5vw;
        font-size: 1.2vw;
    }
    .stats-container {
        width: 12vw;
    }
    .game-container {
        float: left;
        position: relative;
        margin: 6vw 2vw;
        width: 68vw;
        height: 47vw;
    }
    .card {
        position: relative;
        display: inline-block;
        background-color: black;
        height: 15vw;
        width: 11vw;
        margin: 0;
    }
    .back img, .front img {
        position: absolute;
        height: 14vw;
        width: 10vw;
        left: 0.7vh;
        right: 0.5vh;
        top: 0.6vh;
        bottom: 1vh;
    }
    .win-modal-bg {
        height: 80vw;
        background-size: 112%;
        
    }
    .win-content {
        -webkit-text-stroke-width: 0.1em;
    }
}



@media screen and (max-width: 736px) {
    body {
        font-size: 16px;
        line-height: 0.5;
    }
    .header-container {
        height: 10vw;
        background-size: 22%;
    }
    .raven {
        top: 2.5vw;
    }
    .game-title {
        top: 4vw;
        letter-spacing: 3px;
        text-shadow: 5px 4px #dc421d;
        -webkit-text-stroke-width: 1px;
    }
    .settings {
        right: 5vw;
        top: 4.5vw;
        font-size: 1.2vw;
    }
    .about {
        right: 5vw;
        top: 2.5vw;
        font-size: 1.2vw;
    }
    .stats-container div{
        font-size: 1.5vmin;
    }
    .reset {
        font-size: 1.3vmin;
        width: 89%;
        bottom: 8px;
        left: 5%;
    }

    .game-container {
        margin-top: 1vw;
        height: 50vw;
    }
    .card {
        height: 14vw;
        width: 10vw;
        margin: 0.8px;
    }
    .win-content {
        margin: 2.4vw 0;
        font-size: 4vmin;
        -webkit-text-stroke-width: 0.07em;
    }
}

@media (max-width: 480px) {
    body {
        background-size: cover;
    }
    .header-container {
        height: 3em;
        background-size: 25%;
    }
    .settings {
        top: 5.5vw;
        font-size: 1.5vw;
    }
    .about {
        top: 1.8vw;
        font-size: 1.5vw;
    }

    .stats-container {
        width: 20vw;
        height: 70vw;
    }
    .stats-container div {
        font-size: 2.5vmin;
    }
    .reset {
        font-size: 2.5vmin;
    }
    .game-container {
        height: 94vh;
        margin-top: 0.5vw;
    }
    .card {
        margin: 0.5px;
        height: 25vw;
        width: 18vw;
    }
    .back img, .front img {
        height: 24vw;
        width: 17vw;
        left: 0.7vw;
        right: 0.5vw;
        top: 0.5vw;
        bottom: 0.5vw;
    }
    .win-modal-bg {
        height: 167vw;
        background-size: cover;        
    }
}